.git
.gitignore

.venv
__pycache__
*.py[cod]

.env
.env.*
!.env.example

node_modules
frontend/node_modules
frontend/.next

deployment_artifacts

data/raw
data/processed

rag/documents/raw
rag/documents/processed
rag/embeddings
rag/retrieval/*.faiss

ml/sentiment/finbert_model
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.keras

.ipynb_checkpoints
.vscode
.DS_Store
Thumbs.db

notebooks
tests
